.employeeList {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;

  h2 {
    font-size: 2rem;
    color: #34495e;
    font-family: "Montserrat";
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    font-family: "Roboto";
    color: #34495e;
  }

  .addEmployeeButton {
    background-color: #f4c542;
    font-family: "Montserrat";
    color: #34495e;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      background-color: #f1b933;
      transform: scale(1.05);
    }
  }

  .employeeCards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .employeeCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f4c542;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .employeeInfo {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .bannerSection {
        display: flex;
        gap: 8px;
        margin-bottom: 0.5rem;
      }

      strong {
        font-size: 1.25rem;
        font-family: "Montserrat";
        color: #34495e;
      }

      p {
        font-size: 1rem;
        font-family: "Roboto";
        color: #34495e;
        margin: 0px;
      }
    }

    .employeeActions {
      display: flex;
      gap: 10px;
      font-size: 14px;

      .editButton,
      .deleteButton {
        color: #34495e;
        border: none;
        background: none;
        cursor: pointer;
        font-family: "Montserrat";
        font-size: 1rem;
        transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
          color: #f4c542;
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.95);
        }
      }

      span {
        font-family: "Montserrat";
        font-size: 1rem;
        color: #34495e;
      }
    }
  }

  .ongoingBadge {
    background-color: #1e8449;
    color: #fcfcfc;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.75rem;
    font-family: "Montserrat";
  }

  .anniversaryBadge {
    background-color: #f4c542;
    color: #34495e;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.75rem;
    font-family: "Montserrat";
  }

  .probationBadge {
    background-color: #e67e22;
    color: #fcfcfc;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.75rem;
    font-family: "Montserrat";
  }
}
